In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.model_selection import  train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
import pandas as pd
import seaborn as sns

In [0]:
credit = pd.read_csv('/content/drive/My Drive/UCI_Credit_Card.csv')

In [5]:
credit.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0
4   5    50000.0    1  ...     689.0     679.0                           0

[5 rows x 25 columns]

In [0]:
credit = credit.loc[credit['MARRIAGE']!=0,:]
credit = credit.loc[credit['EDUCATION']!=0,:]

In [7]:
credit["MARRIAGE"].value_counts()

2    15954
1    13655
3      323
Name: MARRIAGE, dtype: int64

In [0]:
credit['SEX'] = credit["SEX"].astype(object)
credit['MARRIAGE'] = credit["MARRIAGE"].astype(object)
credit['EDUCATION'] = credit["EDUCATION"].astype(object)

In [0]:
credit.isnull().sum()

In [13]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29932 entries, 0 to 29999
Data columns (total 25 columns):
ID                            29932 non-null int64
LIMIT_BAL                     29932 non-null float64
SEX                           29932 non-null object
EDUCATION                     29932 non-null object
MARRIAGE                      29932 non-null object
AGE                           29932 non-null int64
PAY_0                         29932 non-null int64
PAY_2                         29932 non-null int64
PAY_3                         29932 non-null int64
PAY_4                         29932 non-null int64
PAY_5                         29932 non-null int64
PAY_6                         29932 non-null int64
BILL_AMT1                     29932 non-null float64
BILL_AMT2                     29932 non-null float64
BILL_AMT3                     29932 non-null float64
BILL_AMT4                     29932 non-null float64
BILL_AMT5                     29932 non-null float64
BILL_AMT6                     29932 non-null float64
PAY_AMT1                      29932 non-null float64
PAY_AMT2                      29932 non-null float64
PAY_AMT3                      29932 non-null float64
PAY_AMT4                      29932 non-null float64
PAY_AMT5                      29932 non-null float64
PAY_AMT6                      29932 non-null float64
default.payment.next.month    29932 non-null int64
dtypes: float64(13), int64(9), object(3)
memory usage: 5.9+ MB

In [14]:
credit.describe()

                 ID       LIMIT_BAL  ...       PAY_AMT6  default.payment.next.month
count  29932.000000    29932.000000  ...   29932.000000                29932.000000
mean   14998.159428   167523.375651  ...    5221.906421                    0.221535
std     8660.079085   129821.209970  ...   17795.285035                    0.415287
min        1.000000    10000.000000  ...       0.000000                    0.000000
25%     7498.750000    50000.000000  ...     122.000000                    0.000000
50%    14994.500000   140000.000000  ...    1500.000000                    0.000000
75%    22495.250000   240000.000000  ...    4000.000000                    0.000000
max    30000.000000  1000000.000000  ...  528666.000000                    1.000000

[8 rows x 22 columns]

In [0]:
X = credit.drop(['default.payment.next.month'],1)
y = credit['default.payment.next.month']

In [0]:
X = pd.get_dummies(X)

In [0]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [20]:
logit = LogisticRegression()
logit.fit(X_train,y_train)
y_pred = logit.predict(X_test)
logit.score(X_test,y_test)
print(classification_report(y_pred,y_test))

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

              precision    recall  f1-score   support

           0       0.97      0.82      0.89      9101
           1       0.24      0.68      0.36       777

    accuracy                           0.81      9878
   macro avg       0.61      0.75      0.62      9878
weighted avg       0.91      0.81      0.85      9878

In [21]:
from sklearn.svm import SVC
clf = SVC(gamma='auto')
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
clf.score(X_test,y_test)
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.96      0.83      0.89      8823
           1       0.33      0.67      0.44      1055

    accuracy                           0.82      9878
   macro avg       0.64      0.75      0.67      9878
weighted avg       0.89      0.82      0.84      9878

In [0]:
svc_class = classification_report(y_pred,y_test)

In [23]:
svc_class.split('\n')

['              precision    recall  f1-score   support',
 '',
 '           0       0.96      0.83      0.89      8823',
 '           1       0.33      0.67      0.44      1055',
 '',
 '    accuracy                           0.82      9878',
 '   macro avg       0.64      0.75      0.67      9878',
 'weighted avg       0.89      0.82      0.84      9878',
 '']

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.metrics import confusion_matrix, precision_score, recall_score

In [0]:
# create a function for models
def Models(X_train, X_test, y_train, y_test): 
    # Logistic regression
    log_reg = LogisticRegression()
    log_reg.fit(X_train,y_train)
    y_pred= log_reg.predict(X_test)
    crossval_log = cross_val_score(log_reg,X_train,y_train,cv=10).mean()
    log_matrix = confusion_matrix(y_test, y_pred)
    pre_log = precision_score(y_test, y_pred)
    recall_log = recall_score(y_test, y_pred)


    # RandomForestClassifier

    rc = RandomForestClassifier()
    rc.fit(X_train,y_train)
    y_pred= rc.predict(X_test)
    crossval_rc = cross_val_score(rc,X_train,y_train,cv=10).mean()

    rf_matrix = confusion_matrix(y_test, y_pred)
    pre_rf = precision_score(y_test, y_pred)
    recall_rf = recall_score(y_test, y_pred)

    #KNNClassifier

    knn= KNeighborsClassifier()
    knn.fit(X_train,y_train)
    y_pred_knn = knn.predict(X_test)
    crossval_knn = cross_val_score(knn,X_train,y_train,cv=10).mean()

    knn_matrix = confusion_matrix(y_test, y_pred)
    pre_knn = precision_score(y_test, y_pred)
    recall_knn = recall_score(y_test, y_pred)   

    Model = ["Logistic Regression","Random Forest Classifier", "K-NN Classifier"]
    cross_val= [crossval_log,crossval_rc,crossval_knn]
    matrix = [log_matrix,rf_matrix,knn_matrix]
    precision = [pre_log,pre_rf,pre_knn]
    recall = [recall_log,recall_rf,recall_knn]
    results=pd.DataFrame({'Model': Model,'CrossValidation Score': cross_val,'Accuracy Matrix': matrix,'Precision': precision,'Recall': recall})
    
    return results
    #return knn_matrix,rf_matrix,log_matrix, pre_knn,pre_rf,pre_log,recall_log, recall_knn,recall_rf,crossval_log, crossval_rf, crossval_knn

In [26]:
Models(X_train, X_test, y_train, y_test)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

                      Model  CrossValidation Score  ... Precision    Recall
0       Logistic Regression               0.811608  ...  0.682111  0.243790
1  Random Forest Classifier               0.805924  ...  0.613636  0.322907
2           K-NN Classifier               0.791463  ...  0.613636  0.322907

[3 rows x 5 columns]