In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [0]:
data= pd.read_csv('/content/drive/My Drive/UCI_Credit_Card.csv')
data.shape

(30000, 25)

In [0]:
data.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0
4   5    50000.0    1  ...     689.0     679.0                           0

[5 rows x 25 columns]

In [0]:
data.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [0]:
data.columns=['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'target']

In [0]:
data.isnull().sum()

ID           0
LIMIT_BAL    0
SEX          0
EDUCATION    0
MARRIAGE     0
AGE          0
PAY_0        0
PAY_2        0
PAY_3        0
PAY_4        0
PAY_5        0
PAY_6        0
BILL_AMT1    0
BILL_AMT2    0
BILL_AMT3    0
BILL_AMT4    0
BILL_AMT5    0
BILL_AMT6    0
PAY_AMT1     0
PAY_AMT2     0
PAY_AMT3     0
PAY_AMT4     0
PAY_AMT5     0
PAY_AMT6     0
target       0
dtype: int64

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
ID           30000 non-null int64
LIMIT_BAL    30000 non-null float64
SEX          30000 non-null int64
EDUCATION    30000 non-null int64
MARRIAGE     30000 non-null int64
AGE          30000 non-null int64
PAY_0        30000 non-null int64
PAY_2        30000 non-null int64
PAY_3        30000 non-null int64
PAY_4        30000 non-null int64
PAY_5        30000 non-null int64
PAY_6        30000 non-null int64
BILL_AMT1    30000 non-null float64
BILL_AMT2    30000 non-null float64
BILL_AMT3    30000 non-null float64
BILL_AMT4    30000 non-null float64
BILL_AMT5    30000 non-null float64
BILL_AMT6    30000 non-null float64
PAY_AMT1     30000 non-null float64
PAY_AMT2     30000 non-null float64
PAY_AMT3     30000 non-null float64
PAY_AMT4     30000 non-null float64
PAY_AMT5     30000 non-null float64
PAY_AMT6     30000 non-null float64
target       30000 non-null int64
dtypes: float64(13), int64(12)
memory usage: 5.7 MB

In [0]:
data.describe()

                 ID       LIMIT_BAL  ...       PAY_AMT6        target
count  30000.000000    30000.000000  ...   30000.000000  30000.000000
mean   15000.500000   167484.322667  ...    5215.502567      0.221200
std     8660.398374   129747.661567  ...   17777.465775      0.415062
min        1.000000    10000.000000  ...       0.000000      0.000000
25%     7500.750000    50000.000000  ...     117.750000      0.000000
50%    15000.500000   140000.000000  ...    1500.000000      0.000000
75%    22500.250000   240000.000000  ...    4000.000000      0.000000
max    30000.000000  1000000.000000  ...  528666.000000      1.000000

[8 rows x 25 columns]

In [0]:
data['target'].value_counts()

0    23364
1     6636
Name: target, dtype: int64

In [0]:
from sklearn.utils import resample

def clean(data):
  data_Minor = data[data.target==1]
  data_Major = data[data.target==0]
  data_Minor_Upsampled = resample(data_Minor,replace=True,n_samples=23364,random_state=42)


  data_Upsampled = pd.concat([data_Major, data_Minor_Upsampled])
    # Display new class counts

  return data_Upsampled

In [0]:
df = clean(data)

In [0]:
df['target'].value_counts()

1    23364
0    23364
Name: target, dtype: int64

In [0]:
X = df.drop(['target','ID'],1)

In [0]:
X.head(5)

   LIMIT_BAL  SEX  EDUCATION  MARRIAGE  ...  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
2    90000.0    2          2         2  ...    1000.0    1000.0    1000.0    5000.0
3    50000.0    2          2         1  ...    1200.0    1100.0    1069.0    1000.0
4    50000.0    1          2         1  ...   10000.0    9000.0     689.0     679.0
5    50000.0    1          1         2  ...     657.0    1000.0    1000.0     800.0
6   500000.0    1          1         2  ...   38000.0   20239.0   13750.0   13770.0

[5 rows x 23 columns]

In [0]:
y = pd.DataFrame(df['target'])

In [0]:
y.columns=['target']
y.head()

   target
2       0
3       0
4       0
5       0
6       0

In [0]:
import statsmodels.api as sm

In [0]:
cols = list(X)
p_max = 1
while (len(cols)>0):
    p=[]
    X_1= X[cols]
    X_1 = sm.add_constant(X_1)
    model = sm.OLS(y,X_1).fit()
    p = list(model.pvalues.values[1:])
    p = pd.Series(p,index = cols)
    p_max = max(p)
    features_with_p_max = p.idxmax()
    if (p_max>0.05):
        cols.remove(features_with_p_max)
    else:
        break
selected_features = cols

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [0]:
selected_features

['LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT3',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT4',
 'PAY_AMT6']

In [0]:
X1= X[selected_features]

In [0]:
final_df = X1
final_df['target']=y['target']
final_df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   LIMIT_BAL  SEX  EDUCATION  MARRIAGE  ...  PAY_AMT2  PAY_AMT4  PAY_AMT6  target
2    90000.0    2          2         2  ...    1500.0    1000.0    5000.0       0
3    50000.0    2          2         1  ...    2019.0    1100.0    1000.0       0
4    50000.0    1          2         1  ...   36681.0    9000.0     679.0       0
5    50000.0    1          1         2  ...    1815.0    1000.0     800.0       0
6   500000.0    1          1         2  ...   40000.0   20239.0   13770.0       0

[5 rows x 16 columns]

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.metrics import confusion_matrix, precision_score, recall_score
from sklearn.model_selection import train_test_split

In [0]:
# create a function for models
def Models(data): 
    X = data.drop(columns='target')
    y = data['target']
    X_train, X_test, y_train, y_test = train_test_split(X1, y, test_size = 0.30, random_state = 52)

    # Logistic regression
    log_reg = LogisticRegression()
    log_reg.fit(X_train,y_train)
    y_pred= log_reg.predict(X_test)
    crossval_log = cross_val_score(log_reg,X_train,y_train,cv=10).mean()
    log_matrix = confusion_matrix(y_test, y_pred)
    pre_log = precision_score(y_test, y_pred)
    recall_log = recall_score(y_test, y_pred)


    # RandomForestClassifier

    rc = RandomForestClassifier()
    rc.fit(X_train,y_train)
    y_pred= rc.predict(X_test)
    crossval_rc = cross_val_score(rc,X_train,y_train,cv=10).mean()

    rf_matrix = confusion_matrix(y_test, y_pred)
    pre_rf = precision_score(y_test, y_pred)
    recall_rf = recall_score(y_test, y_pred)

    #KNNClassifier

    knn= KNeighborsClassifier()
    knn.fit(X_train,y_train)
    y_pred_knn = knn.predict(X_test)
    crossval_knn = cross_val_score(knn,X_train,y_train,cv=10).mean()

    knn_matrix = confusion_matrix(y_test, y_pred)
    pre_knn = precision_score(y_test, y_pred)
    recall_knn = recall_score(y_test, y_pred)   

    Model = ["Logistic Regression","Random Forest Classifier", "K-NN Classifier"]
    cross_val= [crossval_log,crossval_rc,crossval_knn]
    matrix = [log_matrix,rf_matrix,knn_matrix]
    precision = [pre_log,pre_rf,pre_knn]
    recall = [recall_log,recall_rf,recall_knn]
    results=pd.DataFrame({'Model': Model,'CrossValidation Score': cross_val,'Accuracy Matrix': matrix,'Precision': precision,'Recall': recall})
    
    return results
    #return knn_matrix,rf_matrix,log_matrix, pre_knn,pre_rf,pre_log,recall_log, recall_knn,recall_rf,crossval_log, crossval_rf, crossval_knn

In [0]:
Results = Models(final_df)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [0]:
Results

                      Model  CrossValidation Score  ... Precision    Recall
0       Logistic Regression               0.766272  ...  0.650881  0.727389
1  Random Forest Classifier               1.000000  ...  1.000000  1.000000
2           K-NN Classifier               0.695344  ...  1.000000  1.000000

[3 rows x 5 columns]